{# ./templates/home/brand_form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mon formulaire{% endblock %}

{% block body %}
    <h1>Mon formulaire</h1>

    {{ form_start(leFormDuController) }}
        {{ form_row(leFormDuController.name) }}
        <button type="submit">Enregistrer</button>
    {# par défaut met tout les champs et ferme le formulaire #}
    {{ form_end(leFormDuController) }}
{% endblock %}